@charset "UTF-8";

/*Estilos da página de cadastro de projetos*/

section.titulo-conteudo{
    position: relative;
    display: flex;
    margin-top: 227px;
    font-size: 1em; /* tamanho da letra*/
    color: black;
    justify-content: center;
    text-align: justify; 
    /*border: 1px solid red;*/
}

.center-titulo{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18%;
    margin-right: 18%;
    /*border: 1px solid red;*/
}

.titulo--sobre-nos{
    width: 100%;
}

.titulo{
    font-family: 'Cabin Sketch', cursive;
    color: #545454;   
    text-align: center;
    font-size: 7em;  
    /*border: 1px solid red;*/
}

section.sobre-nos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.center-sobre-nos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18%;
    margin-right: 18%;
    background-image: url(../Sobre/sobrenos.jpg);
    background-position: right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

.paragrafo-missao{
    position: relative;
    display: flex;
    margin-top: 30px;
}

.paragrafo-visao{
    position: relative;
    display: flex;
    margin-top: 30px;
}

.paragrafo-valores{
    position: relative;
    display: flex;
    margin-top: 30px;
}

.missao, .visao, .valores{
    width: 50%;
    font-size: 30mm;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
    margin-left: 5%;
}

.missao{
    color: fuchsia;
}

.valores{
    color: cornflowerblue;
}

.visao{
    color: goldenrod;
}

.center-sobre-nos p{
    width: 50%;
    text-align: center;
    margin-right: 5%;
}

.paragrafo-missao p,.paragrafo-visao p,.paragrafo-valores p{
    margin-right: 10%;
    font-size: 6mm;
}