*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik", sans-serif;
}

#container {
    max-width: 100%;
    max-height: 100%;
    background: #ffffff;
    position: relative;
}

.center {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18%;
    margin-right: 18%;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
}

header {
    text-indent: -9999px;
    background: url(../imagem/fundo-3.jpeg);
    background-position: center;
    background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-repeat: no-repeat;
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
    height: 350px;
    position: absolute;
    opacity: 30%;
    display: flex;
    border-radius: 0 0 10% 10%;
}

.logo img {
    height: 170px;
    display: flex;
    position: relative;
    top: 0;
    border-radius: 50%;
}

.menu {
    position: relative;
    font-size: 17px;
    height: 100%;
    padding: 0;
    margin: auto;
}

.menu-mobile {
    display: none;
}

.menu-itens{
    position: absolute;
    left: 0;
    top: 27px;
    width: 90%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-itens.show{
    opacity: 1;
}

.menu-itens.hidde{
    opacity: 0;
}

.menu-itens ul{
    font-size: 30px;
    text-align: center;
}

.menu-itens li{
    display: block;
    font-size: 14px;
    padding: 8px;
}

.menu-itens li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
}

.menu-itens ul li a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
}

.menu-itens .btn-menu {
    background-color:rgba(88, 82, 82, 0.411);
    display: inline-block;
    padding: 8px 20px;
    color:#000000;
    
}

.menu-itens .btn-menu:hover {
    background-color: #000000;
    color: white;
}

.menu ul{
    font-size: 16px;
    text-align: center;
}

.menu li{
    display: inline;
    padding: 11px;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
}

.menu ul li a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
}

.menu .btn-menu {
    background-color:rgba(88, 82, 82, 0.411);
    display: inline-block;
    padding: 8px 20px;
    color:#000000;
    
}

.menu .btn-menu:hover {
    background-color: #000000;
    color: white;
}

section.main {
    background-image: url(../imagem/Vó-marca.jpeg);
    background-position: center;
    background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    top: 150px;
    position: relative;
}

.main_cta{
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main_cta h2{
    text-indent: -9999px;
    display: block;
}

.main_cta p{
    text-indent: -9999px;
    display: block;
}

/*
Section Vó Center
*/
section.vó.center{
    position: relative;
    padding-top: 190px;
    display: flex;
}

.center1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vó-img{
    position: relative;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.vó-content.left {
    float: left;
    margin-right: 2%;
}

.vó-content.right {
    float: right;
    margin-left: 2%;
}

.vó-content{
    position: relative;
    width: 48%;
}

.vó-content p{
    font-size: 24px;
    position: relative;
    flex-direction: column;
    text-align: justify;
}

/*
Section Você Pode
*/

section.você-pode {
    position: relative;
    padding-top: 75px;
    display: flex;
}

.center2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.você-pode-content{
    position: relative;
}

.você-pode-content p{
    position: relative;
    font-size: 75px;
    font-style: normal;
    font-variant: normal;
    flex-direction: column;
    text-align: center;
}

.você-pode-content span{
    font-family: 'Cabin Sketch', cursive;
}

.azul{
    color: #004aad;
}

.laranja{
    color: #ff9052;
}

.botões{
    position: relative;
}

.botões button{
    background-color: #0e7af0;
    color:white;
    margin-top: 15px;
    width: 100%;
    font-size: 26px;
    display: inline;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px #94a3b2;
    border-radius: 20px;
}

.botões button p{
    position: relative;
    left: -30px;
}

.botões button img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

/*
Footer
*/
.footer-home {
    position: relative;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 90px;
}

.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    background: #ff9052;
    font-weight: bold;
}

.footer-inline{
    width: 100%;
    display: inline-block;
}

.footer-left{
    position: relative;
    padding: 0 10px;
    width: 45%;
    font-size: 20px;
    float: left;
    display: inline;
    flex-wrap: wrap;
}

.footer-left p{
    display: flex;
    flex-wrap: wrap;
}

.footer-right{
    position: relative;
    width: 45%;
    float: right;
    margin-left: 10%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.footer-right span{
    display: inline-flex;
    flex-wrap: wrap;

}

.footer-right a {
    text-decoration: none;
}

.footer-center{
    position: relative;
    margin:20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 16px;
    display: block;
    flex-wrap: wrap;
}

.footer-center a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.vó-icons{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    top: -40px;
    left: 450px;
    flex-wrap: wrap;
}

.vó-icons-share { /*Icones de compartilhamento*/
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    display: inline;
    flex-wrap: wrap;
}

/*
Site Responsivo Tablet (Com resoluções de 768px a 900px)
*/
@media screen and (max-width: 900px){
    /*
    Header
    */
    header{
        position: absolute;
        width: 90%;
        height: 240px;
        margin-left: 5%;
        margin-right: 5%;
        background-position: right;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
    }

    /*
    Nav
    */
    .menu{
        display: none;
    }

    .menu-mobile{
        width: 80%;
        text-align: right;
        display: block;
    }

    .menu-mobile img{
        position: absolute;
        width: 30px;
        cursor: pointer;
        top: 0;
        margin-left: 40px;
        padding-top: 10px;
        align-items: center;
    }

    /*
    Logo
    */
    .logo {
        position: relative;
        padding-left: 2%;
        padding-top: 2%;
        margin-top: 2%;
        width: 50%;
        margin-right: -20%;
        margin-left: -20%;
    }

    .logo img {
        position: relative;
        height: 35%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }

    /*
    Logomarca
    */
      section.main {
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -150px;
    }

    /*
    Section Vó Content
    */
    .vó-content{
        width: 100%;
    }

    /*
    Section Vó Center
    */
    .vó-content.left1 p{
        font-size: 100%;
        text-align: center;
    }

     /*
    Section Você Pode
    */
    .vó-content.left p{
        font-size: 200%;
    }

    /*
    Footer
    */
    .footer-left{
        width: 100%;
        font-size: 100%;
        text-align: center;
    }

    .footer-left p{
        padding: 5px 5px;
        flex-direction: column;
        text-align: center;
    }

    .footer-right{
        width: 100%;
        font-size: 100%;
        text-align: center;
        margin-top: 20px;
        margin-right: 10%;
    }

    .footer-right p{
        padding: 5px 5px;
        flex-direction: column;
        text-align: center;
    }

    .footer-right span{
        padding: 10px 1px;
        margin-left: 25%;
    }

    .footer-center{
        text-align: center;
    }

    .footer-right span{
        margin-left: 27%;
        
    }

    .vó-icons-share{
        display: inline;
        align-items: center;
        margin-left: 25%;
    }
}

/*
Site Responsivo Celular (Com resoluções de 425px a 600 px)
*/
@media screen and (max-width: 600px){
    /*
    Header
    */
    header{
        width: 90%;
        background-position: right;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        margin-left: 2%;
        margin-right: 2%;
    }

    /*
    Footer
    */
    .footer-right span{
        margin-right: 10%;
        margin-left: 10%; 
        padding: 5px;
    }
}

/*
Site Responsivo Celular (Com resoluções de 325px a 375 px)
*/
@media screen and (max-width: 480px){
    /*
    Header
    */
    header{
        margin-left: 5%;
        margin-right: 5%;
    }

    /*
    Nav(Menu mobile)
    */
    .menu-mobile img{
        margin-left: 5%;
    }

    /*
    Logo
    */
    .logo img {
        margin-top: 5%;
        border: 1px solid red;
    }

     /*
    Section Você Pode
    */
    .botões button{
        position: relative;
        margin-left: -5%;
    }

    /*
    Footer
    */
    .footer-right span{
        margin-right: 10%;
        margin-left: 10%; 
        padding: 30px;
        align-items: center;        
    }
}