@charset "UTF-8";

/*Estilos da página de cadastro de projetos*/

#titulo{
    font-family: 'Cabin Sketch', cursive;
    color: #545454;   
    text-align: center;
    font-size: 7em;
}
/*altera o subtítulo*/
#subtitulo{
    font-family: 'Cabin Sketch', cursive;
    color: #545454;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 4em;
    padding-top: 60px;
    margin-bottom: 0px;
}

.conteudo{
    display: table;
    padding-top: 31px;
}

.imagem img {
    display: table-cell;
    float: right;
    width: 48%;
}

.imagem form {
    display: table-cell;
    float: right;
    width: 48%;
}

.imagem form img {
    display: block;
    width: 100%;
}

.texto{
    display: table-cell;
    float: left;
    width: 50%;
    margin-top: -3px;
    margin-right: 2%  ;
    text-align: justify;
    font-size: 1.2em;
    text-justify: auto;
}

fieldset{
    border: 0;
}
/*Altera o corpo da página*/
.cadastro_projetos{
    background-color: rgba(241, 237, 237, 0.151);
    font-family: sans-serif;
    font-size: 1em; /* tamanho da letra*/
    color: black;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 227px; /*margem do cabeçalho*/
    justify-content: center;
    text-align: justify;    
}

.formulario fieldset.grupo div.campo {
    float: left;
    margin-right: 0;
    width: 49%;
}

.formulario fieldset.grupo div.campo.right {
    float: right;
}

.formulario{
    background-color: #f1f1f1;

}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em; /*margem da parte inferior*/
}

div.campo.inline{
    display: flex;
}

.campo label{ /*nome dos campos a serem preenchidos*/
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 10em;
}

.campo input[type="text"], .campo input[type="tel"], .campo input[type="email"], .campo input[type="date"], .campo textarea{
    padding: 0.5em;
    border: 1px solid rgba(194, 190, 190, 0.452);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 90%;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: rgba(156, 193, 241, 0.356);
}
.mensagem{
    margin: auto;
    display: block;
}
.botao{
    font-size: 1.2em;
    background: #0E7AF0;
    border:0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao.left{
    font-size: 1.2em;
    background: #0E7AF0;
    border:0;
    margin-bottom: 2em;
    color: #ffffff;
    padding: 0.6em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    color: black;
    background: #bedaf8;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
