body{
	margin: 0;
	padding: 0;
}


.titulo{
    font-family: 'Cabin Sketch', cursive;
    color: #545454;   
    text-align: center;
    font-size: 7em;
	margin-top: 150px;
	margin-bottom: 90px;
}

.faleconosco{
	font-size: 7mm;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 45%;
}

.left{
	border-radius: 10px;
	border: black solid;
	max-width: auto;
	display: inline flex;
	font-size: 6mm;
	float: left;
	margin-left: 1%;
	width: 40%;
	flex-wrap: wrap;
}

.left p{
	display: flex;
	text-align: center;
}

.right{
	display: flex;
	position: relative;
	margin: auto;
	padding-bottom: 50px;
	float: right;
	padding-right: 1%;
}

.assunto{
	padding-bottom: 50px;
	margin-left: 25px;
	
}

.tel{
	padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 10px;
	flex-wrap: wrap;	
}

.email{
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.email1{
	padding-bottom: 20px;
    padding-right: 10px;
	margin-left: 25px;
}

.nome{
	margin-left: 25px;
	padding-bottom: 20px;
	margin-top: 30px;
}

.face{
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.horario{
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.formulario{ /* css de impacto no upload de imagem admin*/
	font-size: 21px;
	max-width: 400px;
	height: auto;
	margin: auto;
	padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
	border: solid rgb(160, 158, 158);
	margin-top: 30px;
	flex-wrap: wrap;
	display: flex;
	font-weight: bold;
}

input, textarea{
    box-sizing: border-box;
	padding: 20px;
    border: 1px;
    border-color: rgb(100, 100, 100);
    border-bottom-style: groove;
    color: rgb(0, 0, 0);
    margin: 0 auto;
	width: 300px;
    height: 10px;
    line-height: 1px;
	font-size: 4mm;
}

.enviar input{
	background: #4343ff;
	height: 50px;
    width: 100px;
    border-top-width: 1px;
    padding-top: 25px;
	margin:  0 auto;
	border-radius: 5px;
	border: 1px solid;
	color: rgb(255, 255, 255);
	cursor: pointer;
    margin-bottom: 20px;
	padding-bottom: 20px;
    padding-right: 15px;
    margin-left: 130%;
    margin-right: 25%;
	font-size: 4mm;
}

.enviar input:hover{
	background: #2eb42e;
}

textarea{
	width: 320px;
    height: 150px;
    line-height: 30px;
	margin: 10px 0px 30px;
	margin-top: 0px;
	margin-left: 20px;
}

.tudão{
    margin: 0 auto;
    margin-left: 18%;
    margin-right: 18%;
    background-color: rgba(241, 237, 237, 0.151);
    /*border: 1px solid red;*/
}